# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
# Solution 1
ser1 = pd.Series([random.randint(1,4) for i in range(100)])
ser2 = pd.Series([random.randint(1,3) for i in range(100)])
ser3 = pd.Series([random.randint(10000,30000) for i in range(100)]) # 384 µs ± 10.7 µs

In [3]:
# Solution 2
ser1 = np.random.choice(np.arange(1,4),100)
ser2 = np.random.choice(np.arange(1,3),100)
ser3 = np.random.choice(np.arange(10000,30000),100) # 71.2 µs ± 2.58 µs

In [5]:
# Solution 3
ser1 = np.random.randint(1,4,100)
ser2 = np.random.randint(1,3,100)
ser3 = np.random.randint(10000,30000,100) # 35.2 µs ± 3.16 µs

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
df = pd.DataFrame({'col1': ser1, 'col2': ser2, 'col3': ser3})
df.head(2)

   col1  col2   col3
0     2     2  29728
1     3     2  12143

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [7]:
df.rename(columns={'col1': 'bedrs', 'col2': 'bathrs', 'col3': 'price_sqr_meter'}, inplace=True)
df.head(2)

   bedrs  bathrs  price_sqr_meter
0      2       2            29728
1      3       2            12143

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [8]:
bigcolumn1 = df.stack().to_frame()
bigcolumn2 = df.T.stack().to_frame()
bigcolumn1.shape, bigcolumn2.shape

((300, 1), (300, 1))

In [13]:
bigcolumn1.head(5)

                       0
0 bedrs                2
  bathrs               2
  price_sqr_meter  29728
1 bedrs                3
  bathrs               2

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [14]:
bigcolumn1.tail(6)

                        0
98 bedrs                3
   bathrs               2
   price_sqr_meter  18913
99 bedrs                3
   bathrs               1
   price_sqr_meter  10216

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [48]:
bigcolumn1_df = bigcolumn1.reset_index()
bigcolumn1_df.rename(columns={'level_0':'index', 'level_1':'categ', 0: 'val'}, inplace=True)
bigcolumn1_df.tail(3)

     index            categ    val
297     99            bedrs      3
298     99           bathrs      3
299     99  price_sqr_meter  27554