# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.read_csv(url)
drinks.head(3)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF

### Step 4. Which continent drinks more beer on average?

In [22]:
drinks.groupby('continent')\
      .agg({'beer_servings':'sum'})\
      .sort_values(by='beer_servings', ascending=False).iloc[0:1]

           beer_servings
continent
EU                  8720

### Step 5. For each continent print the statistics for wine consumption.

In [46]:
calc = lambda x: round(x*100/x.sum(),1) #x['wine_servings']/
cont_pct_drinks = drinks.groupby('continent')['beer_servings', 'spirit_servings', 'wine_servings'].sum()\
      .agg(calc, axis=1)
cont_pct_drinks

           beer_servings  spirit_servings  wine_servings
continent
AF                  65.3             17.4           17.3
AS                  34.6             56.9            8.5
EU                  41.4             28.3           30.4
OC                  48.8             31.8           19.4
SA                  49.7             32.6           17.7

In [63]:
# cont_pct_drinks.plot.bar()
sns.set_palette('Set1')
sns.barplot(data=cont_pct_drinks,x='continent',  alpha=0.7, dodge=True)
plt.legend()

ValueError: Could not interpret input 'continent'

### Step 6. Print the mean alcohol consumption per continent for every column

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame