# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [13]:
import sys
import pandas as pd
import numpy as np

In [14]:
is_colab = 'google.colab' in sys.modules
is_colab

False

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [17]:
if is_colab == True:
    # Google Colab version
    !wget https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
    chipo = pd.read_csv('chipotle.tsv', sep = '\t')
else:
    # PC version
    url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [7]:
# Solution 1
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [8]:
# Solution 2
chipo.iloc[0:10]

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [9]:
# Solution 1
chipo.shape

(4622, 5)

In [10]:
# Solution 2
len(chipo)

4622

In [11]:
# Solution 3
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [12]:
# Solution 4
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 6. What is the number of columns in the dataset?

In [13]:
# Solution 1
chipo.shape[1]

5

In [14]:
# Solution 2
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [15]:
for n in chipo.columns:
  print(n)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [16]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [29]:
# Solution 1
res = chipo.groupby(['item_name'])['quantity']\
           .agg('sum')\
           .sort_values(ascending=False).iloc[0:1]
res.index.values

array(['Chicken Bowl'], dtype=object)

In [30]:
# Solution 2
aggreg = {'dsq': ('quantity', 'size')}
res = chipo.groupby('item_name')\
           .agg({'quantity': 'size'})
print(res.idxmax().values)

['Chicken Bowl']

### Step 10. For the most-ordered item, how many items were ordered?

In [31]:
res['quantity'].values

array([ 54,  66,  91,  11,  10,  25, 162,   2,   6, 104, 301,  68,  59,
         7,   1,   6,  40, 726, 553,  47,   9, 110, 115, 211, 110, 479,
         1,  22,  18,  43,  48,  31,  20,   2,  20,  27,   2, 101, 211,
       368,  35,   4,  29,  55,  85,  95,   1,   6,  18,   7])

### Step 11. What was the most ordered item in the choice_description column?

In [32]:
chipo.groupby(['choice_description'])['quantity'].sum()\
     .sort_values(ascending=False).iloc[0:1]

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were ordered in total?

In [33]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [34]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [0]:
# # Solution 1
# conv_f = lambda x: x[1:]
# chipo['item_price'] = chipo['item_price'].apply(conv_f).astype('float')

In [0]:
# # Solution 2
# conv_f = lambda x: float(x[1:])
# chipo['item_price'] = chipo['item_price'].apply(conv_f)

In [37]:
s = '$3.39'
re.findall(r'[0-9.]+', s)[0]

'3.39'

In [0]:
# Solution 3
conv = lambda s: float(re.findall(r'[0-9.]+',s)[0])
chipo['item_price'] = chipo['item_price'].map(conv)

#### Step 13.c. Check the item price type

In [39]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [40]:
(chipo['quantity']*chipo['item_price']).sum()

39237.02

### Step 15. How many orders were made in the period?

In [41]:
# Solution 1
chipo['order_id'].nunique()

1834

In [42]:
# Solution 2
len(chipo['order_id'].value_counts()) # compte nb de lignes i.e. valeurs uniques
chipo['order_id'].value_counts().count() # compte les valeurs notna

ERROR! Session/line number was not unique in database. History logging moved to new session 65

1834

### Step 16. What is the average revenue amount per order?

In [43]:
# Solution 1
calc = lambda x: x['quantity']*x['item_price']
sol1 = chipo.set_index('order_id')\
            .apply(calc, axis=1)\
            .groupby(['order_id']).sum()
sol1.mean()

21.39423118865867

In [44]:
# Solution 2
calc = lambda x: x['quantity']*x['item_price']
dftemp = chipo.set_index('order_id').apply(calc, axis=1)
sol2 = np.array([np.sum(dftemp.loc[i]) for i in dftemp.index.unique()])
np.mean(sol2)

21.39423118865867

In [45]:
sum_orders = pd.DataFrame( {'sol2' : sol2, 'sol1': sol1},
                        index=chipo['order_id'].unique())
sum_orders.head()

    sol1   sol2
1  11.56  11.56
2  33.96  33.96
3  12.67  12.67
4  21.00  21.00
5  13.70  13.70

### Step 17. How many different items are sold?

In [46]:
# Solution 1
chipo['item_name'].nunique()

50

In [98]:
(chipo.groupby('item_name').count()).shape

(50, 4)

In [47]:
# Solution 2
chipo['item_name'].value_counts().count()

50